<!DOCTYPE html>
{%block content%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>messengerpy</title>
</head>
<style>
    .page{
        background-color: #66ff66;
    }
    #topbar{
        position: fixed;
        box-shadow: blue ,red;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 50px 0px 20px;
        box-sizing: border-box;
        background-color: green;
        width: 100%;
        height:50px;
        position: absolute;
        left: 0;
    }
    .icon{
        width: 35px;
        height: 35px;
        border-radius: 100%;

    }
    .divconfig{
        background-color: green;
        width: 800px;
        height:600px;
        align-items: center;
        box-sizing: border-box;
        border-bottom:1px solid green;
        border-radius: 150%;
        display: inline-block;
        margin:0 auto;
        position: relative;
        left: 350px;
        top: 80px;
        padding-left: 50px;}

#item{
  margin-left: 150px;
  /* margin-bottom: 30px; */
}
    @media {min-width: 100px;
        .page{display: none;}
    }
</style>
<body class="page">
    <header>
        <nav id="topbar">
            <h1 style="color: black;">messengerpy</h1>
            <button style="background-color:deepskyblue;border-radius: 50%;"><a href="{% url 'login' %}">login</a></button>
            <button style="background-color:rgb(0, 255, 34);border-radius: 35%"><a href="http://127.0.0.1:8000/admin/login/?next=/admin/">admin</a></button>
        </nav>
    </header>
    <main>
      <div class="divconfig">
        <h1 id="item"style="padding-top:40px;">welcome to your messenger</h1><br>
        <h2 id="item">it has created by sevda.m </h2><br>
        <p id="item">for start plz sign up</p><br>
        <button id="item" style="background-color:deepskyblue;border-radius: 50%;"><a href="{% url 'signup' %}">sign up</a></button><br>
        <p id="item">or login please using the top login button</p><br>
        <p id="item">thankyou and welcome..</p><br>
      </div>
    </main>
</body>
</html>
{%endblock%}
