<!DOCTYPE html>
{%block content%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>signUP</title>
    <!-- <link rel="stylesheet" href="/sign.css"> -->
</head>
<style>
  .hCONFIG{
      color: #000;
      text-align: center;
      margin-right: 400px;
      margin-left: 400px;
  }
  .FORMCONFIG{
      margin-right: 400px;
      margin-left: 500px;
      padding-left: 20px;
      padding-top: 10px;
  }
</style>
<body style="background-color: #99ff99;">
    <h1 CLASS="hCONFIG">
        Signup
    </h1>
    <Div CLASS="FORMCONFIG"style="background-color: white;">
      <form method="POST" action="{% url 'signup' %}">
        {% csrf_token %}
            <p>first_name:</p>
            <input type="text"name="first_name"/>
            <p>last_name:</p>
            <input type="text"name="last_name"/>
            <p>Email:</p>
            <input type="email"name="email"/>
            <p>Age:</p>
            <input type="number"Name="Age"/>
            <p>UserName:</p>
            <input type="text"name="username"/>
            <p>Password:</P>
            <input type="password"Name="password1"/>
            <p>Confirm Password:</P>
            <input type="password"Name="password2"/>
            <p>Gender:</P>
            <label>
                <input type="radio"Name="Gender"/>
                <span>Male</span>
            </label>
            <label>
                <input type="radio"Name="Gender"/>
                <span>Female</span>
            </label>
            <label>
                <input type="radio"Name="Gender"/>
                <span>other</span>
            </label>
            <p>Security Question:</p>
            <select>
                <option>What was your first pet name?</option>
            </select><br>
            <TEXTarea></TEXTarea><br>
            <Label><br>
                <input type="checkbox"name="checkbox"/>
                <span>I Agree to accept terms and conditions</span>
            </Label><br>
            <input type="submit"name="submit"value="Register"href="{% url 'chat1' %}">
        </form>
    </Div>
</body>
</html>
{%endblock%}
