<!DOCTYPE html>
{% block content %}
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>chat</title>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<style>
    .page{
        background-color: white;
    }
    .profile{
        border:10px solid crimson ;
        border-radius:100% ;
        padding: 60px 60px;
    }
    #topbar{
        position: fixed;
        box-shadow: blue ,red;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 50px 0px 20px;
        box-sizing: border-box;
        background-color: green;
        width: 100%;
        height:135px;
        position: absolute;
        top: 0;
        left: 0;
    }
/* dropdown menu */
    .menu{
        position: absolute;
        right: 5px;
        display: inline-block; /*inline_block*/
        overflow: scroll;
        background-color: yellowgreen;
        border-radius: 50px;
        height: 100%;
      }
    .menu-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display:flex;
        border-bottom: 2px solid black;
        }
        /* Show the dropdown menu on hover */


    .divconfig{
        background-color: yellowgreen;
        position: absolute;
        top:150px;
        right:400px;
        left:400px;
        border-radius: 2%;
        width: 50%;
        height: 170%;
        /* display: none; */
        }
      .divconfig2{
        background-color: darkgreen;
        position: relative;
        bottom: : 50px;
        height: 100%
        }
      .icon{
        width: 50px;
        height: 35px;
        border-radius: 100%;
        position: absolute;
        right:150px;
        top: 90px;

      }
    .divconfig3{
      background-color: yellowgreen;
      width: 300px;
      height: 180%;
      align-items: center;
      display: block;
      position: absolute;
      top: 130px;
      left: 0px;
    }
    .divconfig4{
        padding:100px 100px ;
        border: 2px solid darkgreen;
    }

    @media {min-width: 100px;
        .page{display: none;}
    }

/* message-configs */
  .incoming_msg_img {
    display: flex;
    width: 6%;
    }
  .received_msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;
   }
   .received_withd_msg p {
    background: #ebebeb none repeat scroll 0 0;
    border-radius: 3px;
    color: #646464;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
  }
  .time_date {
    color: #747474;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
  }
  .received_withd_msg { width: 57%;}
  .mesgs {
    float: left;
    padding: 30px 15px 0 25px;
    width: 60%;
  }

   .sent_msg p {
    background: #05728f none repeat scroll 0 0;
    border-radius: 3px;
    font-size: 14px;
    margin: 0; color:#fff;
    padding: 3px 10px 3px 12px;
    width:100%;
  }
  .outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
  .sent_msg {
    float: right;
    width: 46%;
  }
  .boxx{

  }

</style>
<body class="page">
    <header>
        <nav id="topbar">
            <h1 style=" color: black;">chats</h1>
            <h2 style="color: black;">messengerpy</h1>
            <a href="www.page.com"><img style="padding-right: 250px;"class="icon"src="{% static 'search.png' %}" alt="search"viewBox="0 0 40 40" /></a>
            <button type="button" name="button"class="icon"style="padding-right: 50px;"><img src="{% static 'camera.png' %}"style="width: 40px;height: 40px;"/></button>
            <a class="icon" href="javascript:{document.getElementById('logout').submit()}" onclick=""style="padding-right: 150px;">Logout</a>
            <form id="logout" method="POST" action="{% url 'logout' %}" >
            {% csrf_token %}
            </form>
           <div class="menu"/>
                  <div class="menu-content">
                    <li><a href="#">settings</a></li>
                    <li><a href="#">edit</a></li>
                    <li><a href="#">contact</a></li>
                  </div>
            </div>
        </nav>
    </header>
    <main>
      <div class="divconfig3">
        <div onclick="myfunc()"style="border:1.5px solid black;padding-top:10px;">
          <div><img src="{% static 'index2.png' %}"style="width: 40px;height: 40px;"viewBox="0 0 10 10"/></div>
          <p>UserName</p>
          {%for entry in name.all%}
           <p>{{entry.UserName}}</p>
          {%endfor%}
        </div>
      </div>
      <div id="my"class="divconfig">
        <p style="padding-top:-30px;padding-left:300px;margin:auto;">chat BOX</p>


          <div class="incoming_msg">
            <div><img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
            <div class="boxx">
              <div class="received_msg">
                <div class="received_withd_msg">
                  <p>hey</p>
                  <span class="time_date"> 11:01 AM   |   June 9</span>
                </div>
              </div>
           {% for send in sends.all %}
              <div class="outgoing_msg">
                <div class="sent_msg"onclick="window.location='{% url 'detail' send.id %}';" style="cursor: pointer;">
                  <p>{{ send.title }}</p>
                  <span class="time_date"> 11:02 AM   |   June 9</span>
                </div>
              </div>
           {% endfor %}
        </div>
        </div>

        <form method="POST" action="{% url 'send' %}" enctype="multipart/form-data">
          {% csrf_token %}
          <br />
          <br />
          <div class="divconfig2">
            <input type="textbox" name="title" style="width:68%;height:120px;position:absolute;left:70px;right:50px;top:80px"><br>
            <br />
            <div style="position:relative;left:50px;"><input type="submit" class="icon" value="send" /></div>
          </div>
        </form>

        </div>
      </div>
    </main>
</body>
</html>
{% endblock %}
